<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' gap://ready file://* *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' 192.168.1.5:35729">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <!-- Find this controller in app.js!!! -->
      <ion-content ng-controller="ContactsController">
        <button class="button button-full button-positive" ng-click="getAllContacts()">Get all the contacts</button>
        <!-- This was the button I used to add contacts to the simulator -->
        <!-- <button class="button button-full button-positive" ng-click="addContact()">
          Add Nathan as a contact as many times as you would like!
        </button> -->
        <ul ng-repeat="contact in contacts">
          <li>{{ contact.name.formatted }}</li>
          <a href="tel:{{contact.phoneNumbers[0].value}}">Give {{contact.name.givenName}} a call</a>
        </ul>
         <img ng-src="{{imgURI}}">
         <button class="button" ng-click="takePic()">Take Picture</button>
      </ion-content>
    </ion-pane>
  </body>
</html>
